li {
    list-style: none;
    padding: 0;
}

ul {
    padding: 0;
}

label {
    display: inline;
    font-size: 0.75rem;
}

.checkboxesCard {
    background-color: white;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0.5em;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    max-width: 50vh
}