html {
  font-family: 'Arial Verdana Helvetica', sans-serif;
}

body {
  margin: 0rem;
  background-color: #f1f2f4;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: red; */
}

.control-bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-bottom: 0.5rem;
}

.control {
  margin: 0.5rem;
  margin-bottom: 0rem;
}

.toggle {
  width: 90px;
}

.navBar {
  /* display: flex; */
  background-color: #0379ce;
  /* height: 2rem; */
  /* margin-bottom: 0.5rem; */
}

.navButton {
  padding: 1rem;
  /* display: inline-block; */
  /* margin: 2px; */
  color: white;
  background-color: #0379ce;
  border: none;
}

.navTitle {
  font-size: 1.5rem;
  color: white;
  margin-left: 0.9rem;
}

.toolTitle {
  font-size: 1rem;
  margin: 0.5rem;
  margin-bottom: 0rem;
  margin-right: 67vw;
}