html {
  font-family: 'Arial Verdana Helvetica', sans-serif;
}

body {
  margin: 10;
  background-color: #f1f2f4;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: red; */
}

.control-bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-bottom: 0.5rem;
}

.control {
  margin-left: 1rem;
}

#licenses {
  width: 15%;
}

#roles {
  width: 25%;
}